.productCard {
    width: 100%; 
    margin: 1%;
    background-color: #fff;
    height: 241px;
    position: relative;
    font-size: 14px;
}
.rhs {
    width: 65%;
    display: inline-block;
    padding-right: 15px;
    box-sizing: border-box;
}
.firstRow,.middle {
    display: flex;
    flex-wrap: wrap;
    margin: 12px 0;
}
.middle {
    flex-flow: unset;
}
.bottom {
    padding: 0 16px;
    display: flex;
}

@media (min-width: 768px) and (max-width: 991px) {
    .productCard {
        width: 48%;
    }
}