.productCard {
    background-color: #fff;
    position: relative;
    height: 80px;
    box-sizing: border-box;
    margin: 8px;
}

.rhs {
    /* display: flex;
    flex-direction: row; */
}
.price {


}
.prodType, .prodMod, .price{
    font-size: 16px;
}
.heading {
    border-bottom: 2px solid #000;
    margin: 0;
    font-size: 16px;
    display: inline-block;
    padding-top: 12px;
}
.subDetails {
    padding: 0;
    list-style: none;
}
.listItem {
    display: inline-block;
    vertical-align: middle;
    padding-right: 30px;
}
.inStock {

}
.lowStock {

}
.stockOut {

}
.subDetails {

}